body {
    background-image: url('http://www.psdgraphics.com/file/gold-texture.jpg')
}

.title {
      font-size: 30px;
    text-align: center;
    color: green;
    font-family: 'Molengo', sans-serif;
    text-decoration: underline;
}

.Description {
    font-size: 20px;
    color: black;
    font-family: 'Molengo', sans-serif;
    margin-right: 10px;
}

.Click {
    font-size: 20px;
    color: aqua;
    font-family: 'Molengo', sans-serif;
}

.feedtitle {
    font-size: 20px;
    color: black;
    font-family: 'Molengo', sans-serif;
    padding: 10px;
    margin-right: 10px;
    text-align: center;
}

.instafeed {
    text-align: center;
}